<ion-content class="ion-padding">
  <ion-toolbar color="black">
    <ion-title color="primary">Carolina Daza</ion-title>
    <ion-buttons slot="start">
      <ion-avatar>
        <ion-img src="https://i.scdn.co/image/ab6775700000ee85b78f4b42ea660a2e83b1873c"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>

  <ion-buttons class="ion-padding">
    <ion-button (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Cerrar Sesión
    </ion-button>
  </ion-buttons>

  <ion-list-header lines="full">
    <p>Plan Premium</p>
    <ion-button>Ver tu plan</ion-button>
  </ion-list-header>

  <ion-list>
    <ion-list-header lines="inset">
      <ion-label>Email</ion-label>
      <ion-button>Editar</ion-button>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label color="primary">
        <h1>daza.jeymmy@gmail.com</h1>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
