<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col
        size="12" size-lg="3" size-md="4" size-sm="6">

        <ion-card>
          <ion-img [src]="song.track.album.images[0].url"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>{{song.track.name}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{ song.track.artists[0].name}}
          <ion-icon name="heart-outline"></ion-icon>
        </ion-card-content>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

