
<ion-content class="ion-padding" fullscreen>
    <pre>{{(favoriteSongs$ | async) | json}}</pre>
  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-img [src]="favoriteSongs$.img"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>{{favoriteSongs$.name}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{favoriteSongs$.artist}}
        </ion-card-content>

      </ion-col>

    </ion-row>
  </ion-grid> -->

</ion-content>
