<ion-content class="ion-padding">
  <!-- <pre>{{(favoriteSongs$ | async) | json}}</pre> -->
  <ion-grid fixed>
    <ion-row>
      <ion-col 
       size="12" size-lg="3" size-md="4" size-sm="6"
       *ngFor="let song of favoriteSongs$ | async">
        <ion-card>
          <ion-img [src]="song.img"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>{{song.name}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{song.artist}}
        </ion-card-content>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>